* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: Roboto, Arial, sans-serif;
}

.profile-icon {
  border-radius: 50%;
}

/* Navbar */
.nav-top {
  background-color: rgb(15, 15, 15);
  position: sticky;
  top: 4px;
}

.nav-top li {
  list-style: none;
}

.search-input {
  border-radius: 20px 0 0 20px !important;
  width: 540px;
  height: 40px;
  border: none;
  margin-left: 213px;
}

.search-btn {
  border-radius: 0 20px 20px 0 !important;
  background-color: #222222 !important;
  width: 64px;
  height: 40px;
}

.yt-btn {
  padding: 0 !important;
  border-radius: 50%;
  cursor: pointer;
}

.mic-icon {
  background-color: rgb(24, 24, 24) !important;
  border-radius: 100px;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
}

.sidebar li {
  list-style: none;
  font-size: 14px;
  margin-right: 36px;
}

.nav > .nav-item > .active {
  background-color: rgb(39, 39, 39);
  border-radius: 10px;
}

.home-btn {
  font-weight: 500;
}

/* Second Navbar */
.second-nav {
  margin-left: 256px;
  position: sticky;
  top: 66px;
  background-color: rgb(15, 15, 15);
}

.second-nav button {
  background-color: rgb(39, 39, 39);
  color: #fff !important;
  border: none;
  height: 32px !important;
  padding: 0 12.5px;
  border-radius: 8px;
}

.second-nav > .nav > .nav-item > .active {
  background-color: rgb(241, 241, 241);
  color: rgb(15, 15, 15) !important;
}

.second-nav span {
  font-size: 14px;
  line-height: 20px;
}

/* Videos */
.videos {
  margin-top: 22px;
  margin-left: 312px;
  margin-right: 56px;
}

.vid-link {
  text-decoration: none;
}

.thumbnail {
  border-radius: 16px !important;
}

.vid-details {
  width: 360px;
}

.vid-title {
  font-weight: 500;
  line-height: 22px;
  width: 288px;
}

.channel-details {
  font-size: 14px;
  color: #a7a7a7;
  margin-left: 49px;
}

.channel-details p {
  margin-left: 49px;
}

.channel-logo {
  margin-right: 13px;
}
